body{
    background-size: cover;
    background-image: url("images/ae.jpeg");
    background-repeat: no-repeat;
}
form{
    text-align: center;
    color: #030201;
    border-block-style: solid;
}
h1{
    text-align: center;
    color: coral;
    font-style: oblique;
}